useDynLib(weightedScores)

export(bcl, cl1, weightMat, godambe, iee, solvewtsc, scoreCov, wtsc.wrapper,wtsc.ord.wrapper)
export(bcl.ord, cl1.ord, weightMat.ord, godambe.ord, iee.ord, solvewtsc.ord, scoreCov.ord,clic)
export(clic1dePar,approxbvncdf, dmargmodel, pmargmodel,dmargmodel.ord, pmargmodel.ord) 
export(mvnapp, mvn.deriv.margin, mvn.deriv.rho)

import(mvtnorm)
import(rootSolve)
importFrom("stats", "binomial", "dbinom", "dlogis", "dnbinom", "dnorm",
            "dpois", "glm", "nlm", "pbinom", "plogis", "pnbinom",
            "pnorm", "poisson", "ppois", "qbinom", "qlogis", "qnbinom",
            "qnorm", "qpois")



